<!doctype html>
<html>
  <head>
    <% description = current_page.data.description || "Michael Koper, a Dutch full-stack developer living in Madrid, Spain. Founder of Nusii" %>
    <% title = current_page.data.title || "Personal website of Michael Koper - Founder Nusii" %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="ROBOTS" content="INDEX,FOLLOW">
    <meta name="description" content="<%= description %>">
    <meta name="author" content="Michael Koper">

    <title><%= current_page.data.title || "Personal website of Michael Koper - Co-founder Nusii - Software Engineer" %></title>

    <%= stylesheet_link_tag "tailwind" %>

    <link rel="canonical" href="https://michaelkoper.com/" /  >

    <meta property="og:title" content="<%= title %>" />
    <meta property="og:url" content="https://michaelkoper.com/" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:site_name" content="Michael Koper" />

    <meta property="twitter:description" content="<%= description %>" />
    <meta property="twitter:site" content="@michaelkoper" />
    <meta property="twitter:creator" content="@michaelkoper" />

    <script src="https://use.typekit.net/hyd3srd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="https://cdn.usefathom.com/script.js" data-site="LNDZXZRW" defer></script>
  </head>
  <body class="font-calluna text-lg leading-relaxed font-light bg-purple-dark text-purple-light px-8 antialiased md:text-2xl md:leading-8">
    <%= partial "header" %>
    <div class="max-w-3xl mx-auto mt-12 md:mt-48">
      <%= yield %>
    </div>
    <%= javascript_include_tag "main" %>
  </body>
</html>
